.minimize-content,
.json-content {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 5fr 1.5fr 5fr;
  padding: 2px;
}
.diff-content {
  height: 80vh;
}

.button-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
